#contactInfo{
  margin-top: 60px;
}
#myPortfolio {
    margin-top: 60px;
}

#aboutMe{
  margin-top: 60px;
}
.space {
    padding-bottom: 200px;
}

#whalePic1{
  height: 80px;
}
#whalePic2{
  height: 80px;
}

.intro {
    text-align: center;
    background-size: 1600% 1600%;
    height: 700px;
    width: 100%;
    z-index: -1;
    animation: colorchange 20s ease infinite;
    -webkit-animation: colorchange 20s ease infinite;
    -moz-animation: colorchange 20s ease infinite;
}

@keyframes colorchange {
    0% {
        background: #FFC15E;
    }
    25% {
        background: #EE6055;
    }
    50% {
        background: #60D394;
    }
    75% {
        background: #AAF683;
    }
    100% {
        background: #FFC15E;
    }
}

@-webkit-keyframes colorchange {
    0% {
        background: #DD614A;
    }
    25% {
        background: #F3DE8A;
    }
    50% {
        background: #F48668;
    }
    75% {
        background: #F4A698;
    }
    100% {
        background: #FFC15E;
    }
}

@-moz-keyframes colorchange {
    0% {
        background: #DD614A;
    }
    25% {
        background: #F3DE8A;
    }
    50% {
        background: #F48668;
    }
    75% {
        background: #F4A698;
    }
    100% {
        background: #FFC15E;
    }
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    margin: 0;
    padding: 0;
    text-align: left;
    color: #197d7a;
    z-index: 1;
}

nav ul {
    display: inline;
    margin: 2px;
    font-size: 16px;
    float: right
}

nav li {
    display: inline;
    padding: 10px;
}

nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: .6s background;
}

nav a:hover {
    background: rgb(144, 25, 29);
    padding: 100px%;
}

body {
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    max-width: 100%;
}

@-webkit-keyframes typing {
    from {
        width: 0;
    }
}

@-webkit-keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

.intro1 {
    font: bold 2em monospace;
    color: white;
    border-right: .1em solid #848484;
    width: calc(0.55em * 14);
    width: 52ch;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typing 3s steps(31, end), blink-caret .5s step-end infinite alternate;
}

.intro2 {
    font: bold 2em monospace;
    -webkit-animation-delay: 7s;
    animation-delay: 7s color: white;
    border-right: .1em solid #848484;
    width: calc(0.55em * 14);
    width: 52ch;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typing 3s steps(31, end), blink-caret .5s step-end infinite alternate;
}

.intro2 {
    font: bold 2em monospace;
    -webkit-animation-delay: 7s;
    animation-delay: 7s color: white;
    border-right: .1em solid #848484;
    width: calc(0.55em * 14);
    width: 52ch;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typing 3s steps(31, end), blink-caret .5s step-end infinite alternate;
}

.intro3 {
    font: bold 2em monospace;
    -webkit-animation-delay: 7s;
    animation-delay: 7s color: white;
    border-right: .1em solid #848484;
    width: calc(0.55em * 14);
    width: 52ch;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typing 3s steps(31, end), blink-caret .5s step-end infinite alternate;
}

.hidden {
    display: none;
}
