
  h2{
    font-family: Arial;
    color: white;
    margin-top: 30px;
  }
  .intro1{
    padding-top: 200px;
  }
  p {
    font-size: 30px;
  }

  img {
    height: 200px;
    padding:3px;
  }
  .social-icon{
    height:100%;
  }

main{
  position:relative;
  padding:0;
  margin: 0;

}
  .intro {
    text-align: center;
    background-size: 1600% 1600%;
    height: 700px;
    width: 100%;
    z-index: -1;
    animation: ColorFade 5s ease infinite;
    background: linear-gradient(270deg, #e71515, #f08005, #eced15);
    -webkit-animation: ColorFade 5s ease infinite;
  	-moz-animation: ColorFade 5s ease infinite;
  }

  @keyframes ColorFade {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

  @-webkit-keyframes ColorFade {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
  @-moz-keyframes ColorFade {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


nav{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  margin: 0;
  padding: 0;
  text-align: left;
  color: #197d7a;
  z-index: 1;
}

nav ul{
  display: inline;
  margin: 2px;
  font-size: 16px;
  float: right
}

nav li{
  display: inline;
  padding: 10px;
}

nav a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 10px;
  transition: .6s background;
}

nav a:hover{
  background: rgb(144,25,29);
  padding: 100px%;
}

body {
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
  max-width: 100%;
}

.typewriter {
  margin: auto;
  text-align: center;
  width: 750px;
}

.typewriter h2 {
  padding-top: 30px;
  overflow: hidden;
  border-right: .15em solid rgb(144,25,29);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .1em;
  animation:
    typing 5.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(144,25,29); }
}
