/*Portfolio Page*/

#myPortfolioContent {
    padding: 75px 150px 75px 150px;
    text-align: center;
}

#Project1Image1, .Project1Image2, .Project1Image3, .Project1Image4 {
    height: 300px;
    width: 450px;
    margin-top: 20px;
    outline: solid thin;
    outline-offset: 15px;
    border:1px solid black;
}

#portfoliocontactMe {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

#Project1Image1, .Project1Image2, .Project1Image3, .Project1Image4{
  margin-top: 40px;
}

.project1Repo{
  margin-bottom: 40px;
}

.projectName {
    font-family: 'Lobster', cursive;
    font-size: 45px;
    margin-left: 0;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

button {
    padding: 10px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: #EA3546;
    border: 2px solid #EA3546;
    border-radius: 10px;
}

button:hover {
    background-color: #EA3546;
    color: white;
}


/*About Me Page*/

#aboutMeContent {
  padding-left: 100px;
  padding-right: 100px;
}


/*Page Heading Text*/

.portfolioHeading {
padding-left: 400px;
}

.header {
    background: url("https://www.dealfuel.com/wp-content/uploads/2015/06/color191.png");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 200px;
    padding-bottom: 100px;
}

.myStory{
  background: url("images/myStory.jpeg");
  width: 100%;
  height: 422px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

#aboutMePic{
padding-top: 200px;
padding-left: 375px;
}

#aboutMeIntro{
text-align: center;
}
/*Homepage Whale Pictures*/

#whalePic1 {
    margin-top: 80px;
    height: 80px;
}

#whalePic2 {
    height: 80px;
}


/*Homepage colorchange animation*/

.intro {
    text-align: center;
    background-size: 1600% 1600%;
    height: 800px;
    width: 100%;
    z-index: -1;
    animation: colorchange 15s ease infinite;
    -webkit-animation: colorchange 15s ease infinite;
    -moz-animation: colorchange 15s ease infinite;
}

@keyframes colorchange {
    0% {
        /*coral*/
        background: #ff6666;
    }
    25% {
        /*rusty red*/
        background: #E03616;
    }
    50% {
        /*gold*/
        background: #F9C80E;
    }
    75% {
        background: #2274A5;
    }
    100% {
        background: #03CEA4;
    }
}

@-webkit-keyframes colorchange {
    0% {
        background: #DD614A;
    }
    25% {
        background: #F3DE8A;
    }
    50% {
        background: #F48668;
    }
    75% {
        background: #F4A698;
    }
    100% {
        background: #FFC15E;
    }
}

@-moz-keyframes colorchange {
    0% {
        background: #DD614A;
    }
    25% {
        background: #F3DE8A;
    }
    50% {
        background: #F48668;
    }
    75% {
        background: #F4A698;
    }
    100% {
        background: #FFC15E;
    }
}


/*navbar stylings*/

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: tranparent;
    margin: 0;
    padding: 0;
    z-index: 1;
    transition-duration: .1s;
}

nav ul {
    display: inline;
    margin: 2px;
    font-size: 16px;
    float: left;
}

nav li {
    display: inline;
    padding: 10px;
}

nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: .4s background;
}

nav a:hover {
    background: rgb(144, 25, 29);
    padding: 100px%;
}


/*Home page and About me page animations for icons*/

.intro a:hover, .contactMe a:hover, .portfoliocontactMe a:hover {
    color: rgb(144, 25, 29);
}

.intro ul, .contactMe ul {
    display: inline;
    margin: 2px;
    font-size: 50px;
}

.intro li, .contactMe li {
    display: inline;
    padding: 10px;
}

.intro a, .contactMe a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: .6s background;
}

.portfoliocontactMe a {
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 10px;
    transition: .6s background;
}

.portfoliocontactMe li {
    display: inline;
    padding: 10px;
}

.portfoliocontactMe ul {
    display: inline;
    margin-left: 400px;
    margin-right: 400px;
    font-size: 70px;
}

nav a:hover {
    background: rgb(144, 25, 29);
    padding: 100px%;
}


/*Body Styling*/

body {
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    max-width: 100%;
}


/*Home page typewriter effect*/

@-webkit-keyframes typing {
    from {
        width: 0;
    }
}

@-webkit-keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}


/*Homepage Typing Animation*/

.intro1 {
    font: bold 2em monospace;
    color: white;
    border-right: .1em solid #848484;
    width: calc(0.55em * 14);
    width: 52ch;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typing 3s steps(31, end), blink-caret .5s step-end infinite alternate;
    margin: auto;
    text-align: center;
    width: 750px;
}

.slide-up {
    font: bold 2em monospace;
    font-family: 'Chewy', cursive;
    animation: slide-up 1.5s;
}

.intro3 {
    font: bold 2em monospace;
    font-family: 'Chewy', cursive;
}
@keyframes slide-up {
    from {
        padding-top: 100px;
        opacity: .25;
        line-height: 80px;
    }
    to {
        padding-top: 0;
        opacity: 1;
        line-height: 25px;
    }
}

footer {
    padding: 20px;
    color: white;
    background: black;
}

footer span {
    font-size: 12px;
    text-align: center;
}


/*Hiding other Sections - corresponding jquery in app.js*/

.hidden {
    display: none;
}
