/*preloader*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(38, 38, 38);
    z-index: 2299;
    height: 100vh;
}

#preloader img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    margin-top: -150px;
    /* Half the height */
    margin-left: -150px;
    /* Half the width */
}


/*navbar stylings*/

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: tranparent;
    margin: 0;
    padding: 0;
    z-index: 1;
    transition-duration: .1s;
    text-align: center;
}

nav ul {
    display: inline;
    margin: 2px;
    font-size: 18px;
    float: left;
    font-family: 'Raleway', sans-serif;
}

nav li {
    display: inline;
    padding: 10px;
}

nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: .4s background;
}

nav a:hover {
    background: rgb(144, 25, 29);
    padding: 100px%;
}


/*Homepage*/
.intro1 {
    font: bold 2em monospace;
    font-family: 'Chewy', cursive;
}

.intro2 {
    font: bold 2em monospace;
    font-family: 'Chewy', cursive;
}

#myface {
    margin-top: 150px;
    height: 150px;
    margin-left: 280px;
}

#follow {
    height: 85px;
    margin-bottom: 35px;
}


/*Homepage whale animation */

.intro {
    text-align: center;
    width: 100vw;
    background: url("images/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}


/*Home page and contact me page animations for icons*/

.intro a:hover, .contactMe a:hover, .portfoliocontactMe a:hover {
    color: rgb(144, 25, 29);
}

.intro ul, .contactMe ul {
    display: inline;
    margin: 2px;
    font-size: 50px;
}

.intro li, .contactMe li {
    display: inline;
    padding: 10px;
}

.intro a, .contactMe a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: .6s background;
}

.homeIcons, #homepage {
    text-align: center;
}


/*About Me Page*/

.flag {
    display: block;
    margin: auto;
    width: 80%;
}

.aboutMeHeading {
    margin: auto;
    width: 50%;
    display: block;
    margin-bottom: 75px;
}

.aboutMeColumn1 {
    width: 460px;
    float: left;
    margin-left: 85px;
}

.aboutMeColumn2 {
    width: 460px;
    float: right;
    margin-right: 85px;
    border: solid;
    padding: 20px;
}

#aboutMePic {
    padding-top: 200px;
    padding-left: 375px;
    3
}

#aboutMeIntro {
    text-align: center;
}

#rotatingWords {
    margin-left: 130px;
}

.justKeepSwimming {
    background: url("images/gold arrow.gif");
    background-repeat: no-repeat;
    background-position: bottom;
}
.aboutMeCloser{
  display: block;
  margin: 0 auto;
  width: 30%;
}


/*Push Effect for rotating words in about me section*/

.pushEffect {
    display: inline;
    text-indent: 8px;
    text-align: center;
}

.pushEffect span {
    animation: push 10s linear infinite 0s;
    -ms-animation: push 10s linear infinite 0s;
    -webkit-animation: push 10s linear infinite 0s;
    color: #05b68c;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    font-family: 'Lobster', cursive;
}

.pushEffect span:nth-child(2) {
    animation-delay: 2.5s;
    -ms-animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s;
}

.pushEffect span:nth-child(3) {
    animation-delay: 5s;
    -ms-animation-delay: 5s;
    -webkit-animation-delay: 5s;
}

.pushEffect span:nth-child(4) {
    animation-delay: 7.5s;
    -ms-animation-delay: 7.5s;
    -webkit-animation-delay: 7.5s;
}


/*Push Effect Animation for Rotating Words in About Me Section*/

@-moz-keyframes push {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
        -moz-transform: rotate(0deg) scale(2) skew(0deg) translate(0px);
    }
    10% {
        opacity: 1;
        -moz-transform: translateX(0px);
    }
    25% {
        opacity: 1;
        -moz-transform: translateX(0px);
    }
    30% {
        opacity: 0;
        -moz-transform: translateX(0px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes push {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
        -webkit-transform: rotate(0deg) scale(2) skew(0deg) translate(0px);
    }
    10% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
    25% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
    30% {
        opacity: 0;
        -webkit-transform: translateX(0px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-ms-keyframes push {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
        -ms-transform: rotate(0deg) scale(2) skew(0deg) translate(0px);
    }
    10% {
        opacity: 1;
        -ms-transform: translateX(0px);
    }
    25% {
        opacity: 1;
        -ms-transform: translateX(0px);
    }
    30% {
        opacity: 0;
        -ms-transform: translateX(0px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}


/*Portfolio Page*/

.portfolioHeading {
    margin-left: 35%;
    margin-top: 25px
}

#myPortfolioContent {
    padding: 75px 150px 75px 150px;
    text-align: center;
}

#Project1Image1, .Project1Image2, .Project1Image3, .Project1Image4 {
    height: 300px;
    width: 450px;
    outline: solid thin;
    outline-offset: 15px;
    border: 1px solid black;
    margin-top: 40px;
}

#portfoliocontactMe {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.projectRepo {
    margin-bottom: 40px;
}

.projectName {
    font-family: 'Lobster', cursive;
    font-size: 45px;
    margin-left: 0;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

button {
    padding: 10px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: #EA3546;
    border: 2px solid #EA3546;
    border-radius: 10px;
}

button:hover {
    background-color: #EA3546;
    color: white;
}


/*contact me section at the end*/

.portfoliocontactMe a {
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 10px;
    transition: .6s background;
}

.portfoliocontactMe li {
    display: inline;
    padding: 10px;
}

.portfoliocontactMe ul {
    display: inline;
    font-size: 70px;
    display: block;
    margin: auto;
    width: 30%;
}

/*Footer*/

footer {
    padding: 20px;
    color: white;
    background: black;
}

footer span {
    font-size: 12px;
    text-align: center;
}

/*Body Styling*/

body {
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    max-width: 100%;
}

/*MEDIA QUERY Incomplete*/

@media only screen and (max-width: 767px) {
    h1 {
        text-align: center;
    }
    .intro {
        height: 1600px;
    }
}
