/*Portfolio Page*/

#myPortfolioContent {
    padding: 75px 150px 75px 150px;
    text-align: center;
}

#Project1Image1, .Project1Image2, .Project1Image3, .Project1Image4 {
    height: 300px;
    width: 450px;
    margin-top: 20px;
    outline: solid thin;
    outline-offset: 15px;
    border: 1px solid black;
}

#portfoliocontactMe {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

#Project1Image1, .Project1Image2, .Project1Image3, .Project1Image4 {
    margin-top: 40px;
}

.project1Repo {
    margin-bottom: 40px;
}

.projectName {
    font-family: 'Lobster', cursive;
    font-size: 45px;
    margin-left: 0;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

button {
    padding: 10px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: #EA3546;
    border: 2px solid #EA3546;
    border-radius: 10px;
}

button:hover {
    background-color: #EA3546;
    color: white;
}


/*About Me Page*/

#aboutMeContent {
    padding-left: 100px;
    padding-right: 100px;
}


/*Page Heading Text*/

.portfolioHeading {
    padding-left: 400px;
}

.header {
    background: url("images/myStory.jpeg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 200px;

}

.myStory {
    background: url("images/myStory.jpeg");
    width: 100%;
    height: 422px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

#aboutMePic {
    padding-top: 200px;
    padding-left: 375px;
}

#aboutMeIntro {
    text-align: center;
}


/*Homepage Whale Pictures*/

#whalePic1 {
    margin-top: 80px;
    height: 80px;
}

#whalePic2 {
    height: 80px;
}


/*Homepage colorchange animation*/

.intro {
    text-align: center;
    background-size: 1600% 1600%;
    height: 800px;
    width: 100%;
    z-index: -1;
    animation: colorchange 25s ease infinite;
    -webkit-animation: colorchange 25s ease infinite;
    -moz-animation: colorchange 25s ease infinite;
}

@keyframes colorchange {
    0% {
        background: #A2666F;
    }
    25% {
        background: #9E788F;
    }
    50% {
        background: #E8AEB7;
    }
    75% {
        background: #9E788F;
    }
    100% {
        background: #A2666F;
    }
}

@-webkit-keyframes colorchange {
    0% {
        background: #A2666F;
    }
    25% {
        background: #9E788F;
    }
    50% {
        background: #E8AEB7;
    }
    75% {
        background: #9E788F;
    }
    100% {
        background: #A2666F;
    }
}

@-moz-keyframes colorchange {
    0% {
        background: #A2666F;
    }
    25% {
        background: #9E788F;
    }
    50% {
        background: #E8AEB7;
    }
    75% {
        background: #9E788F;
    }
    100% {
        background: #A2666F;
    }
}


/*navbar stylings*/

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: tranparent;
    margin: 0;
    padding: 0;
    z-index: 1;
    transition-duration: .1s;
}

nav ul {
    display: inline;
    margin: 2px;
    font-size: 16px;
    float: left;
    font-family: 'Raleway', sans-serif;
}

nav li {
    display: inline;
    padding: 10px;
}

nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: .4s background;
}

nav a:hover {
    background: rgb(144, 25, 29);
    padding: 100px%;
}


/*Home page and About me page animations for icons*/

.intro a:hover, .contactMe a:hover, .portfoliocontactMe a:hover {
    color: rgb(144, 25, 29);
}

.intro ul, .contactMe ul {
    display: inline;
    margin: 2px;
    font-size: 50px;
}

.intro li, .contactMe li {
    display: inline;
    padding: 10px;
}

.intro a, .contactMe a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: .6s background;
}

.homeIcons, #homepage {
    text-align: center;
}

#rotatingWords {
    margin-left: 400px;
}

.pulse {
    -webkit-animation: pulse 1s linear infinite;
    -moz-animation: pulse 1s linear infinite;
    -ms-animation: pulse 1s linear infinite;
    animation: pulse 1s linear infinite;
}

a.pulse {
    display: inline-block;
    animation-delay: 2s;
}

a.pulse:hover {
    animation: none;
}

@keyframes "pulse" {
    0% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    50% {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -o-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1.1);
        transform: scale(1.1);
    }
    50% {
        -moz-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes "pulse" {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-ms-keyframes "pulse" {
    0% {
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    50% {
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -ms-transform: scale(1);
        transform: scale(1);
    }
}


/*Push Effect*/

.pushEffect {
    display: inline;
    text-indent: 8px;
    text-align: center;
}

.pushEffect span {
    animation: push 10s linear infinite 0s;
    -ms-animation: push 10s linear infinite 0s;
    -webkit-animation: push 10s linear infinite 0s;
    color: #05b68c;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    font-family: 'Lobster', cursive;
}

.pushEffect span:nth-child(2) {
    animation-delay: 2.5s;
    -ms-animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s;
}

.pushEffect span:nth-child(3) {
    animation-delay: 5s;
    -ms-animation-delay: 5s;
    -webkit-animation-delay: 5s;
}

.pushEffect span:nth-child(4) {
    animation-delay: 7.5s;
    -ms-animation-delay: 7.5s;
    -webkit-animation-delay: 7.5s;
}


/*Push Effect Animation*/

@-moz-keyframes push {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
        -moz-transform: rotate(0deg) scale(2) skew(0deg) translate(0px);
    }
    10% {
        opacity: 1;
        -moz-transform: translateX(0px);
    }
    25% {
        opacity: 1;
        -moz-transform: translateX(0px);
    }
    30% {
        opacity: 0;
        -moz-transform: translateX(0px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes push {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
        -webkit-transform: rotate(0deg) scale(2) skew(0deg) translate(0px);
    }
    10% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
    25% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
    30% {
        opacity: 0;
        -webkit-transform: translateX(0px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-ms-keyframes push {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
        -ms-transform: rotate(0deg) scale(2) skew(0deg) translate(0px);
    }
    10% {
        opacity: 1;
        -ms-transform: translateX(0px);
    }
    25% {
        opacity: 1;
        -ms-transform: translateX(0px);
    }
    30% {
        opacity: 0;
        -ms-transform: translateX(0px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.portfoliocontactMe a {
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 10px;
    transition: .6s background;
}

.portfoliocontactMe li {
    display: inline;
    padding: 10px;
}

.portfoliocontactMe ul {
    display: inline;
    margin-left: 400px;
    margin-right: 400px;
    font-size: 70px;
}

nav a:hover {
    background: rgb(144, 25, 29);
    padding: 100px%;
}


/*Body Styling*/

body {
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    max-width: 100%;
}


/*Home page typewriter effect*/

@-webkit-keyframes typing {
    from {
        width: 0;
    }
}

@-webkit-keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}


/*Homepage Typing Animation*/

.intro1 {
    font: bold 2em monospace;
    color: white;
    border-right: .1em solid #848484;
    width: calc(0.55em * 14);
    width: 52ch;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typing 3s steps(31, end), blink-caret .5s step-end infinite alternate;
    margin: auto;
    text-align: center;
    width: 750px;
}

.slide-up {
    font: bold 2em monospace;
    font-family: 'Chewy', cursive;
    animation: slide-up 1.5s;
}

@keyframes slide-up {
    from {
        padding-top: 100px;
        opacity: .25;
        line-height: 80px;
    }
    to {
        padding-top: 0;
        opacity: 1;
        line-height: 25px;
    }
}

footer {
    padding: 20px;
    color: white;
    background: black;
}

footer span {
    font-size: 12px;
    text-align: center;
}


/*Hiding other Sections - corresponding jquery in app.js*/

.hidden {
    display: none;
}
/*MEDIA QUERY*/

@media only screen and (max-width: 767px){
    h1 {
      text-align: center;
    }
    .intro{
      height: 1600px;
    }
}
